class {% if name %}{{ name }}{% else %}Empty{% endif %}(object):

    CLI_COMMAND_NAME = {{ cli_command_name }}
    ROUTE_CLI_COMMAND_MAP = {{ route_cli_commands_map }}

    def __init__(self, client, url):
        self._client = client
        self._url = url
        {% for resource, resource_class, resource_path in sub_resources -%}
        self.{% if resource %}{{ resource }}{% else %}empty{% endif %} = self.
        {%- if resource %}{{ resource_class }}{% else %}Empty
        {%- endif -%}(self._client, "%s/{{ resource_path }}" % self._url)
        {% endfor -%}
        {%- for method in methods %}
{{ method|indent(4, true) }}
        {% endfor %}
{{ sub_classes }}
